
<table cellspacing="10">
    <tr>
        <td><a href="~/Default.cshtml"> Home </a></td>
        <td><a href="~/Account/Login.cshtml"> Login </a></td>
        <td><a href="~/EmailPage.cshtml"> Email </a></td>
        <td><a href="~/ImageGallery.cshtml"> Image Gallery </a></td>
        <td><a href="~/Products.cshtml"> DatabaseTransack </a></td>
        <td><a href="~/ShowChart.cshtml"> Charts </a></td>
    </tr>
</table>
   
