@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured"></section>
}

<h1>Projects</h1>
<ul>
    <li>@Html.ActionLink("ASDSong", "ASDSong", "Projects")</li>
    <li>@Html.ActionLink("ASDNet", "ASDNet", "Projects")</li>
    <li>@Html.ActionLink("ASDPaper", "ASDPaper", "Projects")</li>
    
</ul>
